<p style="color: green"><%= notice %></p>
<% authorized = current_user == @user %>

<% if authorized %>
  <h1>Welcome, <%= @user.name %></h1>
  <%= button_to 'Ask a question', new_question_path, method: :get %>
<% end %>

<h2><%= authorized ? 'Your' :  "#{@user.name}'s" %> questions</h2>
<div>
  <% if @user.questions.any? %>
    <ul>
      <% @user.questions.each do |question| %>
        <li><%= link_to question.title.truncate(50), question %></li>
      <% end %>
    </ul>
  <% else %>
      Looks like you don't have any questions yet.
      Try <%= link_to 'asking one', new_question_path %>.
  <% end %>
</div>

<h2><%= authorized ? 'Your' :  "#{@user.name}'s" %> answers</h2>
<div>
  <% if @user.answers.any? %>
    <ul>
      <% @user.answers.each do |answer| %>
        <li>
          <%= link_to answer.body.truncate(50), answer.question %>
          <%= "✅" if answer.accepted %>
          on <%= link_to answer.question.title.truncate(50), answer.question %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      Looks like you don't have any answers yet.
      Try <%= link_to 'adding one', root_path %>.
    </p>
  <% end %>
</div>
<hr>
<div>
  <%= button_to "🗑", @user, method: :delete if current_user == @user %>
</div>
