<!DOCTYPE html>
<html>
  <head>
    <title>StackOverclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
   <div id="layout">
      <header>
        <div class="actions">
          <%= link_to 'Home', root_path %>
          <% if logged_in? %>
            <%= button_to "Logout", sessions_path, method: :delete %>
          <% else %>
            <%= button_to 'Sign in', login_path, method: :get %>
            <%= button_to 'Sign up', signup_path, method: :get %>
          <% end %>
        </div>
      </header>
      <hr>
      <div id="main">
        <div class="notifications">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <%= yield %>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
